h3 {
    padding:2em 0 1em 0;
}

body > div.row.experience > div:nth-child(1) > p{
    margin-bottom: -0.6em;
}


body > div.row.projects > div > p {
    margin-bottom: -0.6em;
}

body > div.row.studies > div > p {
    margin-bottom: -0.6em;
}


h1 {
    text-align:center;
    padding:1em;
    font-size:4em;
    text-transform: uppercase;
}

h3 {
    display: inline-block;
}

svg {
    width:35px;
    height:35px;
    padding-bottom:15px;
}